* {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 10vh;
    margin: 0px;
    padding: 10px 40px;
} 
header img {
    height: 50%;
}